USE [master]
GO
/****** Object:  Database [BloodBankManagement]    Script Date: 11/9/2024 3:53:21 PM ******/
CREATE DATABASE [BloodBankManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BloodBankManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DULICH\MSSQL\DATA\BloodBankManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BloodBankManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DULICH\MSSQL\DATA\BloodBankManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BloodBankManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BloodBankManagement]
GO
/****** Object:  Table [dbo].[BenhNhanTbl]    Script Date: 11/9/2024 3:53:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BenhNhanTbl](
	[MaBenhNhan] [int] NOT NULL,
	[HoVaTen] [nvarchar](50) NULL,
	[Tuoi] [int] NULL,
	[GioiTinh] [nvarchar](50) NULL,
	[SoDienThoai] [nvarchar](10) NULL,
	[NhomMau] [nvarchar](5) NULL,
	[Diachi] [nvarchar](50) NULL,
	[BenhVien] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBenhNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuyenGiaoMauTbl]    Script Date: 11/9/2024 3:53:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenGiaoMauTbl](
	[MaChuyenGiao] [int] NOT NULL,
	[HoVaTenNguoiNhan] [nvarchar](50) NULL,
	[NhomMau] [nvarchar](5) NULL,
 CONSTRAINT [PK_ChuyenGiaoMauTbl] PRIMARY KEY CLUSTERED 
(
	[MaChuyenGiao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MauTbl]    Script Date: 11/9/2024 3:53:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MauTbl](
	[NhomMau] [nvarchar](5) NOT NULL,
	[SoLuongMau] [int] NULL,
 CONSTRAINT [PK_MauTbl] PRIMARY KEY CLUSTERED 
(
	[NhomMau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiHienTbl]    Script Date: 11/9/2024 3:53:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiHienTbl](
	[MaNguoiHien] [int] NOT NULL,
	[HoVaTen] [nvarchar](50) NULL,
	[Tuoi] [int] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[SoDienThoai] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[NhomMau] [nvarchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguoiHien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVienTbl]    Script Date: 11/9/2024 3:53:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVienTbl](
	[MaNhanVien] [int] NOT NULL,
	[TenDangNhap] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](50) NULL,
	[Role] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BenhNhanTbl] ([MaBenhNhan], [HoVaTen], [Tuoi], [GioiTinh], [SoDienThoai], [NhomMau], [Diachi], [BenhVien]) VALUES (111, N'Nguyễn Văn An', 60, N'Nam', N'0345678913', N'AB+', N'Tp.Hồ Chí Minh', N'Bệnh viện Thống Nhất')
INSERT [dbo].[BenhNhanTbl] ([MaBenhNhan], [HoVaTen], [Tuoi], [GioiTinh], [SoDienThoai], [NhomMau], [Diachi], [BenhVien]) VALUES (123, N'Hà Anh Tuấn', 31, N'Nam', N'0399734964', N'B+', N'Đà Nẵng', N'Bệnh viện Việt Đức')
INSERT [dbo].[BenhNhanTbl] ([MaBenhNhan], [HoVaTen], [Tuoi], [GioiTinh], [SoDienThoai], [NhomMau], [Diachi], [BenhVien]) VALUES (211, N'Trương Thị Thu', 35, N'Nữ', N'0987654321', N'A-', N'Quảng Bình', N'Bệnh viện Quảng Bình')
GO
INSERT [dbo].[ChuyenGiaoMauTbl] ([MaChuyenGiao], [HoVaTenNguoiNhan], [NhomMau]) VALUES (123, N'Nguyễn Văn Anh', N'AB+')
INSERT [dbo].[ChuyenGiaoMauTbl] ([MaChuyenGiao], [HoVaTenNguoiNhan], [NhomMau]) VALUES (124, N'Trần Thị Bình', N'O-')
INSERT [dbo].[ChuyenGiaoMauTbl] ([MaChuyenGiao], [HoVaTenNguoiNhan], [NhomMau]) VALUES (125, N'Lê Hồng Cường', N'A+')
GO
INSERT [dbo].[MauTbl] ([NhomMau], [SoLuongMau]) VALUES (N'A-', 0)
INSERT [dbo].[MauTbl] ([NhomMau], [SoLuongMau]) VALUES (N'A+', 10)
INSERT [dbo].[MauTbl] ([NhomMau], [SoLuongMau]) VALUES (N'AB-', 2)
GO
INSERT [dbo].[NguoiHienTbl] ([MaNguoiHien], [HoVaTen], [Tuoi], [GioiTinh], [SoDienThoai], [DiaChi], [NhomMau]) VALUES (1, N'Nguyễn Văn Tú', 30, N'Nam', N'0345678910', N'Tp.Hồ Chí Minh', N'B+')
INSERT [dbo].[NguoiHienTbl] ([MaNguoiHien], [HoVaTen], [Tuoi], [GioiTinh], [SoDienThoai], [DiaChi], [NhomMau]) VALUES (2, N'Hà Anh Thư', 28, N'Nữ', N'0399734961', N'Đà Nẵng', N'AB+')
INSERT [dbo].[NguoiHienTbl] ([MaNguoiHien], [HoVaTen], [Tuoi], [GioiTinh], [SoDienThoai], [DiaChi], [NhomMau]) VALUES (3, N'Huỳnh Thái Sang', 29, N'Nam', N'0944345789', N'Thanh Hóa', N'A+')
GO
INSERT [dbo].[NhanVienTbl] ([MaNhanVien], [TenDangNhap], [MatKhau], [Role]) VALUES (1, N'admin', N'123456', N'Admin')
INSERT [dbo].[NhanVienTbl] ([MaNhanVien], [TenDangNhap], [MatKhau], [Role]) VALUES (2, N'bngoc', N'123456', N'User')
INSERT [dbo].[NhanVienTbl] ([MaNhanVien], [TenDangNhap], [MatKhau], [Role]) VALUES (3, N'tienlen', N'123456', N'User')
GO
ALTER TABLE [dbo].[BenhNhanTbl]  WITH CHECK ADD  CONSTRAINT [FK_BenhNhanTbl_MauTbl] FOREIGN KEY([NhomMau])
REFERENCES [dbo].[MauTbl] ([NhomMau])
GO
ALTER TABLE [dbo].[BenhNhanTbl] CHECK CONSTRAINT [FK_BenhNhanTbl_MauTbl]
GO
ALTER TABLE [dbo].[NguoiHienTbl]  WITH CHECK ADD  CONSTRAINT [FK_NguoiHienTbl_MauTbl] FOREIGN KEY([NhomMau])
REFERENCES [dbo].[MauTbl] ([NhomMau])
GO
ALTER TABLE [dbo].[NguoiHienTbl] CHECK CONSTRAINT [FK_NguoiHienTbl_MauTbl]
GO
USE [master]
GO
